<div class="fragment">
    <ul class="function-list">
        <li class="function-item">
            <div class="caption">打印</div>
            <div class="pane img-pane" ng-click="print()">
                <img src="img/icon/print.png" alt="打印文件">
            </div>
        </li>
        <li class="function-item">
            <div class="caption">保存</div>
            <div class="pane img-pane" ng-click="save()">
                <img src="img/icon/saveFile.png" alt="保存文件">
            </div>
        </li>
        <li class="function-item">
            <div class="caption">保存草稿</div>
            <div class="pane img-pane" ng-click="saveDraft()">
                <img src="img/icon/draft.png" alt="保存草稿">
            </div>
        </li>
        <li class="function-item">
            <div class="caption">清空文档</div>
            <div class="pane img-pane" ng-click="clear()">
                <img src="img/icon/clear.png" alt="清空文档">
            </div>
        </li>
    </ul>
</div>