
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1496992031867'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1496992031867#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1496992031867') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1496992031867') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1496992031867#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font-bigger:before { content: "\e600"; }

.icon-font-smaller:before { content: "\e601"; }

.icon-pack-up:before { content: "\e620"; }

.icon-align-right:before { content: "\e625"; }

.icon-align-left:before { content: "\e633"; }

.icon-align-both-ends:before { content: "\e694"; }

.icon-align-center:before { content: "\e630"; }

.icon-brush:before { content: "\e66f"; }

.icon-line-distance:before { content: "\e67d"; }

.icon-page:before { content: "\e690"; }

.icon-niantie:before { content: "\e69a"; }

.icon-redo:before { content: "\e6cb"; }

.icon-copy:before { content: "\e863"; }

.icon-picture:before { content: "\e61b"; }

.icon-paste:before { content: "\e602"; }

.icon-undo:before { content: "\e72f"; }

.icon-cut:before { content: "\e62c"; }

.icon-bold:before { content: "\e62e"; }

.icon-underline:before { content: "\e634"; }

.icon-italic:before { content: "\e603"; }

.icon-table:before { content: "\e604"; }

.icon-draft:before { content: "\e62b"; }

.icon-list:before { content: "\e687"; }

